$font-family: Arial, sans-serif;
$black: #000;
$white: #fff;

$content-max-width: 960px;

$small-breakpoint: "only screen and (min-width : 768px)";
$medium-breakpoint: "only screen and (min-width : 992px)";
$large-breakpoint: "only screen and (min-width : 1200px)";
